$rojo:#B20000;
$blanco:#fff;
$negro:#000;
$plomo:#F2F2F2;
$azul:#768596;
$facebook: #2A65A1;
$twitter: #60BFDD;
$facebokk: #2A65A1;
$google: #60BFDD;
$msg:#FFBF00;
$w:#FF8000;
$letra:gray;
$morado:#872f85;
