
@import "mixin";
@import "_variables.scss";
h1, h2, h3, h4, h5{
	font-weight: bold;
}
// HEADER
// utilities
.container-fluid{
	margin-left: 140px;
	margin-right: 140px;
}
.i{padding: 2px 5px; font-size: 18px;}
.facebook{color:#2A65A1;}
.twitter{color:#60BFDD;}
.google{color:#CA4638;}
.msg{color:#FFBF00;}
.w{color:#FF8000;}
.lateral-left{
	position: fixed;
	margin-top:-240px;
	margin-left: 10px;
}
.lateral-right{
	position: fixed;
	margin-top:-240px;
	margin-left: 1130px;	
}
.header-top{
	background-color: $plomo;
	img{width: 100%;}
	.top{padding-top: 15px; padding-bottom: 15px;}
	.boton{
		background-color:$rojo;
		color: $blanco;
		font-size: 12px;
	}
	.buscar{
		background: transparent;
		border: none;
		border-left: 1px solid gray;
		border-right: 1px solid gray;
		font-size: 10px;
		i{
			padding: 7px;
		}
	}
	ul{
		a{
			color: $letra;
			text-decoration: none;
		}
	}
}
.header{
	.republica{
		padding: 10px;
		.logo{
			margin-top: 40px;
			img{width: 85%;}
		}
		.titulo{
			p{
				background-color: $rojo;
				color: $blanco;
				width: 100px;
				padding: 5px 15px;
				margin: auto;
				position: relative;
				top: 15px;
			}
		}
		.lider{
			padding: 12px 20px;
			border: 1px solid gray;
			border-bottom: 2px solid $rojo;
			width: 98%;
		}
		.caja-autor{
			border: 1px solid gray;
			margin-top: 30px;
			img{position: relative; top:0px; float: right;}
			.autor{
				width: 80%;
				display: inline-block;
				padding-top: 15px;
			}
		}
	}
}
.menu{
	padding: 10px 0;
	a{
		color: $blanco;
		font-size: 12px;
		padding: 5px;
	}
	.navbar-nav a{
		padding: 10px;
	}

	.navbar-custom{
		background-color: $rojo;
	}
	.navbar{
		margin-bottom: 0;
	}
	i{color: white;}
}
.temas{
	font-size: 13px;
	ul{
		background: $plomo;
		li{padding: 8px;
			a{color: $letra;}}
		}
	}
	.list-temas> :first-child{
		background: $negro;
		a{color:$blanco;}
		
	}
// FOOTER
.footer{
	background-color: $plomo;
	padding: 10px 0;
	.cajita{padding-top:80px; border-right: 2px solid white;}
	.listas{
		li{font-size: 12px;}
		}
}
.pie-pagina{
	border-top: 2px solid $blanco;
	background-color: $plomo;
	padding: 10px;
		li{border-right: 1px solid gray; font-size: 12px;}
	}

// LATERALES
// HOME
.main-titulo{
	font-size: 50px;
	@media screen and(max-width:750px){
		font-size: 30px;
	}
}
@mixin separadores {
  color:$blanco;
  font-family:'Oswald', sans-serif;
  position: relative;
  top:-20px;
  padding: 10px;
  display: inline-block;
  margin-bottom: 20px;
  a{
  color:$blanco;
  padding:10px;
  }
}
@mixin font_tittle{
  position:absolute;
  font-family:'Helvetica',sans-serif;
  font-weight: bold;
  color: $blanco;
  a{
    color:$blanco;
  }
}
.about_grid{
	margin-top:10px;
	color:$blanco;
  img{
    width: 100%;
  }
 .texto{
	margin-top:-100px;
  }
}
.hero{
	margin-bottom:3%;
}
.noticia{
	border: 1px solid $plomo;
	margin: 10px 0;
	.font-grid{
	margin-top: -10px;
	font-size: 23px;
	width: 100%;
	@media screen and(max-width:750px){
		margin-top: -90px;
	}
	}
}
.columnistas{
  background-color:$plomo;
  border-top:5px solid $rojo;
}
.mercado{
	@extend .blog;
	padding: 4% 0;
	.text-danger{color: red;}
	.imagen{
		background: linear-gradient(to bottom, rgba(0,0,0,0.3), black 10%);
		background-image: url("../../assets/image/img_especiales.jpg");
		background-size: container;
		background-repeat: no-repeat;
		height: 200px;
		width: 90%;
		color:$blanco;
		margin: 0 auto;	

		p{
			padding-top: 45%;
			padding-left: 5px;
			font-size: 1em;
			margin-bottom: 5%;
		}
	}
}
.news{
	margin-bottom:20%;
	img{width: 100%;}
	p{font-size: 14px;}
	@media screen and(max-width:750px){
	margin-bottom:0;
	}
}
.revista-aweita{
	margin: 10px 0;
	img{
		width: 100%;
		border: 3px solid gray;
	}

}
.banners{img{width: 100%;}}
.font-cinta_red{
  @include separadores;
  background-color:$rojo;
  margin-bottom: 20px;
  margin-top: 10px;
}
.font-cinta_blue{
  @include separadores;
  background-color:$azul;
  margin-bottom: 20px;
  margin-top: 10px;
}
.caption{
	height:30px;
}
.thumbnai{
  img{
    border: 4px solid #fff;    
    margin: 0 auto 10px;
    height:80px;
    width:80px;
  }
  h4{
    font-weight: bold;
  }
}
.columlist{
  background-color:$plomo; 
}
.dots a{
  color:#ccc;
  :hover{
    color:$rojo;
  }
}
.interactive_box{
  background-color:$plomo;
  padding: 60px 10px 20px;
    margin: 0 0 30px;
    text-align: center;
}
.in-box{
  background-color:$blanco;
  padding: 1em 12px;
}
.ref_img{
  display: block;
    margin: -40px 10px 20px 139px;
    text-align: center;
}
.aweita{
  border: 3px solid $plomo;
  margin-bottom:5%;
}
.tittle_blue{
  border-top:5px solid $azul;
  border-bottom:3px solid $plomo;
  margin-bottom: 20px;
}

.tittle_red{
  border-top:5px solid $rojo;
  border-bottom:3px solid $plomo;
  margin-bottom: 20px;
}

.color-font{
    padding-bottom: 15px;
    border-bottom: 4px solid $morado;
    width: 40%;
    span{
    color:$morado
    }
}
.font-side h4{
	background-color:$blanco;
	color:$negro;
	margin-top: -110px;
	position:absolute;
	width:100%;
	padding:20px;
	opacity: 0.8;
	text-align:center;
}

.siders{
	padding:2%;
	@media screen and(max-width:750px){
	text-align:center;
	}
	img{
		border: 3px solid gray;
		margin: 2%;
	}
	.col-md-9{
		padding-left:20%;
	}
	@media screen and(max-width:750px){
	margin:0 auto;
	}
}
// .caricatura{
//   border-top:5px solid $rojo;
//   border-bottom:3px solid $plomo;
// }

// CONTACTOS
// COLUMNISTAS
// BLOG

