html
	head
		include ./ci/links.jade
		include ./ci/mixin.jade
	body
		include ./ci/header.jade
		.container-fluid
			mixin titulares('Columnistas', 'LO ULTIMO EN COLUMNISTAS')
			.row
				mixin allColumnistas
				mixin allColumnistas
			.row.text-center
				button.btn-rojo.btn-danger Todas las columnas
			.row
				mixin titulares('','LO ULTIMO EN COLUMNITAS')
			.row.text-center
				mixin menu-columnistas( 'TODOS', 'ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ')
			.row
				mixin allPersonas_columna
				mixin allPersonas_columna
				mixin allPersonas_columna
				mixin allPersonas_columna
				mixin allPersonas_columna
				mixin allPersonas_columna
				mixin allPersonas_columna
				mixin allPersonas_columna
		include ./ci/footer.jade
		





